<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="homepage.html" />
            </files>
        </defaultDocument>
        <rewrite>
            <outboundRules>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <rule name="redirect to secure" patternSyntax="ExactMatch">
                    <match url="http://nhmssurvey.mnu.edu" />
                    <action type="Rewrite" url="https://nhmssurvey.mnu.edu" />
                </rule>
            </rules>
            <rewriteMaps>
                <rewriteMap name="others">
                </rewriteMap>
            </rewriteMaps>
        </rewrite>
    </system.webServer>
</configuration>
